extends layout

block content
	.panel 
		span Поддержать GoldenSplit
	p
		| Если вы хотите материально помочь проекту GoldenSplit, вы можете оставить
		| ваши пожертвования, используя один из электронных кошельков, указанных ниже.
	p
		| Просим Вас учитывать, что деньги будут использованы на нужды и развитие
		| проекта GoldenSplit.
	p
		| Пожертвования на Twitch Alerts: 
		a( href="//www.twitchalerts.com/donate/goldensplit" ) перейти
	p
		| Кошелёк kiwi: +79035940802
	p
		| Yandex Money: 410013414337407