footer#footer
	#wrap-fotter-up-icon( title = "Наверх" )
		include icons/circle-up	
	#footer-info
		span GoldenSplit 0+
	#wrap-social
		include social
script( type = "text/javascript" src = "/javascripts/versions.js" )