ul#social
	li.social-item
		include icons/vk
	li.social-item
		include icons/facebook
	li.social-item
		include icons/youtube
	li.social-item
		include icons/twitch
	li.social-item
		include icons/twitter